<strong>Olá, {{ deliveryman }}</strong>
<p>Novo cadastramento de encomenda! Confira abaixo os detalhes para a entrega:</p>
<p>
  <strong>Produto: </strong>{{ product }} <br />
  <strong>Destinatário: </strong>{{ recipient }} <br />
  <strong>Endereço: </strong>{{ address }} <br />
  <strong>Data do cadastro: </strong>{{ date }} <br />
</p>
